<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <!-- 인터넷 접근 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 블루투스 권한 추가 -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="33" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="33" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 라이브러리 권한 -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 카메라 하드웨어 기능 사용을 명시. 필수적이지 않음을 나타내기 위해 required="false"로 설정 -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="CertaIN U"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 기타 액티비티 및 메타데이터 구성이 여기에 포함됩니다. -->

        <!-- SplashActivity 추가 -->
        <activity android:name=".SplashActivity"
            android:theme="@style/Theme.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity 수정 -->
        <activity android:name=".LoginActivity"
            android:exported="true">
        </activity>

        <activity android:name=".SelectionActivity">
        </activity>

        <activity android:name=".CeoSignupActivity">
        </activity>

        <activity android:name=".UserSignupActivity">
        </activity>

        <activity android:name=".MainActivity">
        </activity>

        <activity android:name=".CafelistActivity">
        </activity>

        <activity android:name=".SeatActivity">
        </activity>

        <activity android:name=".WaitingActivity">
        </activity>

        <activity android:name=".MapActivity">
        </activity>

        <activity android:name=".CafeMenuActivity">
        </activity>

        <activity android:name=".IdPwSelectionActivity">
        </activity>

        <activity android:name=".IdSearchActivity">
        </activity>

        <activity android:name=".CeoIdSearchActivity">
        </activity>

        <activity android:name=".PwSearchActivity">
        </activity>

        <activity android:name=".CeoPwSearchActivity">
        </activity>

        <activity android:name=".IdKnownActivity">
        </activity>

        <activity android:name=".PwResetActivity">
        </activity>

        <activity android:name=".MypageActivity">
        </activity>

        <activity android:name=".WriteBoardActivity">
        </activity>

        <activity android:name=".BoardActivity">
        </activity>

        <activity android:name=".DetailActivity">
        </activity>

        <activity android:name=".CeoBoardActivity">
        </activity>

        <activity android:name=".CeoWriteBoardActivity">
        </activity>

        <activity android:name=".CeoDetailActivity">
        </activity>

        <activity android:name=".NotificationActivity">
        </activity>


        <activity android:name=".BluetoothDeviceActivity">
        </activity>

        <activity android:name=".Ceo_OrderChange">
        </activity>

        <activity android:name="CafeMenu_WriteBoard">
        </activity>

        <activity android:name="CafeMenu_Detail">
        </activity>

        <activity android:name="CafeDetailPageActivity">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD_vN-SWRGT_iXf9PspbbjgLSkiG3DXvqo" />

    </application>

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />

</manifest>
